.circle {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.box-center {
  display: flex;
  justify-content: center;
}
.flex-container {
  display: flex;
  background-color: DodgerBlue;
  flex-direction: column;
  width: fit-content;
}

.flex-container > div {
  background-color: pink;
  margin: 1px;

  font-size: 20px;
}
