* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.0em;
  font-family: sans-serif;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.logo {
  width: 10vw;
  height: 19vh;
  background-color:turquoise;
  display: flex;
  justify-content: space-around;

}

nav {
  width: 40vw;
  height: 18vh;
  background-color:turquoise;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.menu ul li {
  list-style-type: none;
  padding-top: 30px;
}

.menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color:purple;
}

h1 {
  margin-left: 160px;
  margin-top: 30px;
}

p {
  text-align: justify;
  margin-left: 160px;
  padding-top: 30px;
  font-size: 1.2em;
}

form {
  background: whitesmoke;
  padding: 20px;
  width: 75vw;
  height: 150vh;
  margin: 40px;
  margin-left: 160px;
}

.form-container {
  display: block;
  padding-top: 10px;
  margin-left: 120px;
}

h2 {
  margin-top: 30px;
  padding-bottom: 20px;
}

.percentage {
  font-weight: bold;
  font-size: 1.2em;
}

#percentage {
  width: 73.5vw;
  height: 8vh;
  border-radius: unset;
}

form p {
  margin-left: 0px;
  margin-bottom: 20px;
}

input[type=text] {
  width: 20vw;
  padding: 14px 20px;
  margin: 10px 25px;
  box-sizing: border-box;
  border: 1px solid gray;
}

.countrylist {
  padding-top: 10px;
  margin-left: 15px;
}

#country {
  margin-top: 15px;
  padding-bottom: 25px;
  padding-right: 80px;
  margin-left: 25px;
  background-color: white;
}

.street-address {
  padding-top: 20px;
  margin-left: -34px;
}

.desc {
  text-align: justify;
  font-size: 16px;
  margin-left: -60px;
  padding-top: 60px;

}

.display p {
  padding-top: 25px;
  font-size: 14px;
}

#profile {
  margin-top: -135px;
  padding: 35px;
  margin-left: 175px;
}

.shipping p {
  margin-left: -115px;
}

input[type=checkbox] {
  -webkit-appearance: value;
  display: inline-block;
  position: relative;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin: -8px 5px;
}

.shipping-address {
  margin-left: -40px;
  font-weight: bold;
  padding-top: 40px;
  
}

#ship {
  padding-top: 10px;
  width: 40px;
  height: 40px;
  margin-left: 20px;
} 

button {
  background-color: skyblue;
  color: black;
  padding: 25px;
  border: 1px solid gray;
  width: 35%;
  float: right;
  font-size: 20px;
  font-weight: bold;
  margin-right: 35px;
  margin-top: -5px;
}

button a {
  text-decoration: none;
  color: black;
}
