* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-size: 1.0em;
    font-family: sans-serif;
}
  
.flex-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
  
.logo {
    width: 10vw;
    height: 19vh;
    background-color:turquoise;
    display: flex;
    justify-content: space-around;
}
  
nav {
    width: 40vw;
    height: 18vh;
    background-color:turquoise;
}
  
.menu ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
  
.menu ul li {
    list-style-type: none;
    padding-top: 30px;
}
  
.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color:purple;
}
  
h1 {
    margin-left: 160px;
    margin-top: 30px;
}
  
form {
    background: whitesmoke;
    padding: 20px;
    width: 75vw;
    height: 350vh;
    margin: 40px;
    margin-left: 160px;
}
  
.form-container {
    display: block;
    padding-top: 10px;
    margin-left: 120px;
}
  
h2 {
    margin-top: 30px;
    padding-bottom: 20px;
}
  
.percentage {
    font-weight: bold;
    font-size: 1.2em;
}
  
#percentage {
    width: 73.5vw;
    height: 8vh;
    border-radius: unset;
}
  
form p {
    margin-left: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
}
.form-container ul li {
    list-style-type: none;
    padding-top: 35px;
}

input[type="checkbox"]:checked {
    content: '✔';
    text-align: center;
    width: 15 px;
    height: 15 px;
    border: 2 px solid black;
}

.checkboxes {
    columns: 2 4em; 
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

#apparal, #accessories, #handbags, #jewelry, #shoes {
    float: right;
    margin-right: 180px;
    width: 40px;
    height: 20px;
} 

.checkboxes #jewelry, #shoes {
    margin-right: 220px;   
}

.checkboxes label {
    margin-left: 20px;
}

#jewelry, #shoes {
    margin-left: -50px;
}

.image-container ul {
    columns: 2 6em; 
    list-style-type: none;
    margin-left: -120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-container ul li {
    border: 1px solid darkseagreen;
    border-radius: 2px;
    padding-top: 20px;
    overflow: hidden;
}

#image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px 20px;

}

div p {
    margin-left: -120px;
    padding-top: 40px;
}

.checkbox-image {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 50px;

}

button {
    background-color: skyblue;
    color: black;
    padding: 25px;
    border: 1px solid gray;
    width: 35%;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
    margin-top: 80px;
}

button a {
    text-decoration: none;
    color: black;
} 
.previous {
    float: left;
    margin-left: -120px;
    margin-top: 100px;
    background-color:skyblue;
    padding: 20px;  
}